name: Build and Test
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup .NET Framework
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0
      - name: Build project
        run: |
          cd "Fluent Launcher"
          dotnet build

  test:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0
      - name: Build and run tests
        run: |
          cd "Fluent Launcher Tests"
          dotnet test --logger trx --results-directory TestResults /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=../TestResults/coverage/ /p:Exclude="[xunit.*]*%2c[FluentLauncherTests]*" /p:Threshold=80
          testResults=$(find . -name '*.trx' -type f -printf "%T@ %p\n" | sort -n | awk '{print $2; exit}')  
          trx2junit -f -i "$testResults" -o ../TestResults/test-results.xml
        env:
          FailOnTestFailures: true
          coverageThreshold: 80
        continue-on-error: ${{ !env.FailOnTestFailures }}
