name: Build and Test
on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.100'
    - name: Restore packages
      run: dotnet restore
      working-directory: ./Fluent Launcher Tests
    - name: Build and run tests
      run: dotnet test
      working-directory: ./Fluent Launcher Tests
